@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab&display=swap');

* {
  margin: 0;
  font-family: 'Montagu Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
